// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: opensans;
  font-weight: light;
  font-size: 48px;
  font-color: red;
}

.btn {
  color: white;
  background-color: blue;
}
